//base

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

input {
    width: 100%;
}

fieldset {
    padding: 0;
    border: none;
    margin: 0;
}

legend {
    margin-bottom: 10px;
}

//mixin
$breakpoints: (
    'sm': 767px,
    'md': 992px,
    'lg': 1200px
);

@mixin breakpoint-up($breakpoint) {

    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {

        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        +"Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

//animations
@keyframes card-go-front {
    0% {
        top: 25%;
        z-index: 0;
    }

    25%{
        top: 20%;
    }

    80%{
        z-index: 1;
    }

    100% {
        z-index: 1;
        top: 45%;
    }

}

.go-front {
    animation: card-go-front 1s ease-in-out forwards;
}

@keyframes card-go-back {
    0% {
        top: 45%;
        z-index: 1;
    }

    25%{
        top: 50%;
    }

    80%{
        z-index: 0;
    }

    100% {
        z-index: 0;
        top: 25%;
        
    }
}

.go-back {
    animation: card-go-back 1s ease-in-out forwards;
}

//all
.main-card-form {
    display: flex;
    flex-direction: column;

    @include breakpoint-up('sm') {
        flex-direction: row;
    }
}

.main-left {
    position: relative;
    background: url("../images/bg-main-mobile.png") no-repeat;
    display: flex;
    flex-direction: column;
    background-size: 800px;
    height: 300px;

    @include breakpoint-up('sm') {
        height: 100vh;
        flex-direction: row;
        width: 40%;
        background: url("../images/bg-main-desktop.png") no-repeat;
        background-size: 100%;
    }
}

.front-card {
    position: absolute;
    background: url("../images/bg-card-front.png") no-repeat;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    background-size: 100%;
    height: 192px;
    width: 90%;
    max-width: 350px;
    top: 55%;
    right: 50%;
    transform: translate(50%);
    z-index: 1;

    @include breakpoint-up('sm') {
        top: 45%;
        right: -20%;
        background-size: 350px;
        height: 192px;
        width: 350px;
        transform: none;
    }
}

.front-card::before {
    content: "";
    background: url('../images/card-logo.svg') no-repeat;
    height: 27px;
    width: 48px;
    display: inline-block;
    background-size: 48px;
}

#card-number {
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: 20px;
}

.front-card-bottom {
    display: flex;
    font-size: 14px;
    letter-spacing: 2px;
    justify-content: space-between;
    text-transform: uppercase;
}

.back-card {
    position: absolute;
    background: url("../images/bg-card-back.png") no-repeat;
    padding: 20px;
    background-size: 100%;
    height: 192px;
    top: 10%;
    right: 5%;
    width: 90%;
    max-width: 350px;
    z-index: 0;

    @include breakpoint-up('sm') {
        background-size: 350px;
        height: 192px;
        width: 350px;
        top: 25%;
        right: -10%;
    }
}

#secret-code {
    color: #fff;
    margin: 63px 0 0 250px;
    letter-spacing: 2px;
}

.main-right {
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;

    @include breakpoint-up('sm') {
        width: 60%;
        margin: auto;
    }
}

.form-card {
    width: 50%;
    margin: auto;
    color: hsl(278, 68%, 11%);
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

label {
    letter-spacing: 2px;
}

label[for="expiration-month"],
label[for="expiration-year"]
{
    display:none;
}

input {
    border: solid 1px hsl(270, 3%, 87%);
    border-radius: 5px;
    padding: 10px;
}

input::placeholder {
    color: hsl(279, 6%, 55%);
    font-size: bold;
}

.form-lane {
    display: flex;
    gap: 10px 0;
    flex-direction: column;
    text-transform: uppercase;
    flex-grow: 1;
}

.double-lane {
    display: flex;
    gap: 0 10px;
}

.small-lane {
    width: 40%;
}

.form-block {
    display: flex;
    gap: 0 20px;
}

.button {
    background: hsl(278, 68%, 11%);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.finish {
    display: none;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
}