@keyframes card-go-front {
  0% {
    top: 25%;
    z-index: 0;
  }
  25% {
    top: 20%;
  }
  80% {
    z-index: 1;
  }
  100% {
    z-index: 1;
    top: 45%;
  }
}
.go-front {
  animation: card-go-front 0.7s ease-in-out forwards;
}

@keyframes card-go-back {
  0% {
    top: 45%;
    z-index: 1;
  }
  25% {
    top: 50%;
  }
  80% {
    z-index: 0;
  }
  100% {
    z-index: 0;
    top: 25%;
  }
}
.go-back {
  animation: card-go-back 0.7s ease-in-out forwards;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

input {
  width: 100%;
}

fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

legend {
  margin-bottom: 10px;
}

label {
  letter-spacing: 2px;
}

label[for=expiration-month],
label[for=expiration-year] {
  display: none;
}

input {
  border: solid 1px hsl(270deg, 3%, 87%);
  border-radius: 5px;
  padding: 10px;
}

input::placeholder {
  color: hsl(279deg, 6%, 55%);
  font-size: bold;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
}

.front-card {
  position: absolute;
  background: url("../images/bg-card-front.png") no-repeat;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
  background-size: 100%;
  height: 192px;
  width: 90%;
  max-width: 350px;
  top: 55%;
  right: 50%;
  transform: translate(50%);
  z-index: 1;
}
@media (min-width: 767px) {
  .front-card {
    top: 45%;
    right: -20%;
    background-size: 350px;
    height: 192px;
    width: 350px;
    transform: none;
  }
}

.front-card::before {
  content: "";
  background: url("../images/card-logo.svg") no-repeat;
  height: 27px;
  width: 48px;
  display: inline-block;
  background-size: 48px;
}

#card-number {
  letter-spacing: 2px;
  font-size: 24px;
  margin-top: auto;
  margin-bottom: 20px;
}

.front-card-bottom {
  display: flex;
  font-size: 14px;
  letter-spacing: 2px;
  justify-content: space-between;
  text-transform: uppercase;
}

.back-card {
  position: absolute;
  background: url("../images/bg-card-back.png") no-repeat;
  padding: 20px;
  background-size: 100%;
  height: 192px;
  top: 10%;
  right: 5%;
  width: 90%;
  max-width: 350px;
  z-index: 0;
}
@media (min-width: 767px) {
  .back-card {
    background-size: 350px;
    height: 192px;
    width: 350px;
    top: 25%;
    right: -10%;
  }
}

#secret-code {
  color: #fff;
  margin: 63px 0 0 250px;
  letter-spacing: 2px;
}

.button {
  background: hsl(278deg, 68%, 11%);
  color: #fff;
  border-radius: 10px;
  border: none;
  padding: 15px;
  width: 100%;
  cursor: pointer;
}

.form-lane {
  display: flex;
  gap: 10px 0;
  flex-direction: column;
  text-transform: uppercase;
  flex-grow: 1;
}

.double-lane {
  display: flex;
  gap: 0 10px;
}

.small-lane {
  width: 40%;
}

.form-block {
  display: flex;
  gap: 0 20px;
}

.finish {
  display: none;
}

.main-card-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 767px) {
  .main-card-form {
    flex-direction: row;
  }
}

.main-left {
  position: relative;
  background: url("../images/bg-main-mobile.png") no-repeat;
  display: flex;
  flex-direction: column;
  background-size: 800px;
  height: 300px;
}
@media (min-width: 767px) {
  .main-left {
    height: 100vh;
    flex-direction: row;
    width: 40%;
    background: url("../images/bg-main-desktop.png") no-repeat;
    background-size: 100%;
  }
}

.main-right {
  display: flex;
  flex-direction: column;
  margin: 100px auto auto auto;
}
@media (min-width: 767px) {
  .main-right {
    width: 60%;
    margin: auto;
  }
}

.form-card {
  width: 50%;
  margin: auto;
  color: hsl(278deg, 68%, 11%);
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

/*# sourceMappingURL=style.css.map */
