.front-card {
    position: absolute;
    background: url("../images/bg-card-front.png") no-repeat;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    background-size: 100%;
    height: 192px;
    width: 90%;
    max-width: 350px;
    top: 55%;
    right: 50%;
    transform: translate(50%);
    z-index: 1;

    @include breakpoint-up('sm') {
        top: 45%;
        right: -20%;
        background-size: 350px;
        height: 192px;
        width: 350px;
        transform: none;
    }

    &:before {
        content: "";
        background: url('../images/card-logo.svg') no-repeat;
        height: 27px;
        width: 48px;
        display: inline-block;
        background-size: 48px;
    }
}

#card-number {
    letter-spacing: 2px;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: 20px;
}

.front-card-bottom {
    display: flex;
    font-size: 14px;
    letter-spacing: 2px;
    justify-content: space-between;
    text-transform: uppercase;
}

.back-card {
    position: absolute;
    background: url("../images/bg-card-back.png") no-repeat;
    padding: 20px;
    background-size: 100%;
    height: 192px;
    top: 10%;
    right: 5%;
    width: 90%;
    max-width: 350px;
    z-index: 0;

    @include breakpoint-up('sm') {
        background-size: 350px;
        height: 192px;
        width: 350px;
        top: 25%;
        right: -10%;
    }
}

#secret-code {
    color: #fff;
    margin: 63px 0 0 250px;
    letter-spacing: 2px;
}